language: python
python:
  - 3.6
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install -U coveralls 
install:
  - pip install .
script: 
  - pytest
  - coverage run --omit=*/tests* -m pytest ./tests
after_success:
  - coveralls 